# SynthCore key layout (keys.cfg). Layouts: keys8x4 two4x4 notesnav user
layout keys8x4
key 0.0 shift
key 0.1 menu
key 0.2 back
key 0.3 play
key 0.4 oct-
key 0.5 oct+
key 0.6 page-
key 0.7 page+
key 1.0 note 24
key 1.1 note 25
key 1.2 note 26
key 1.3 note 27
key 1.4 note 28
key 1.5 note 29
key 1.6 note 30
key 1.7 note 31
key 2.0 note 16
key 2.1 note 17
key 2.2 note 18
key 2.3 note 19
key 2.4 note 20
key 2.5 note 21
key 2.6 note 22
key 2.7 note 23
key 3.0 note 8
key 3.1 note 9
key 3.2 note 10
key 3.3 note 11
key 3.4 note 12
key 3.5 note 13
key 3.6 note 14
key 3.7 note 15
key 4.0 note 0
key 4.1 note 1
key 4.2 note 2
key 4.3 note 3
key 4.4 note 4
key 4.5 note 5
key 4.6 note 6
key 4.7 note 7
